@font-face {
  font-family: 'vera';
  src: url(../fonts/Vera.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vera';
  src: url(../fonts/VeraBd.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vera-mono';
  src: url(../fonts/VeraMono.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vera-mono';
  src: url(../fonts/VeraMoBd.ttf);
  font-weight: bold;
  font-style: normal;
}
