@import url("global.css");
@import url("fonts.css");
@import url("desktop.css");
@import url("mobile.css") handheld;
@import url("mobile.css") (max-device-width:500px);
@import url("mobile.css") (max-device-height:500px);


